<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Miletweets - Entry for Rails Rumble 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="col-xs-12 header">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">Miletweets</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            <li><a href="/connect">Connect</a></li>
            
           </ul>
        </div><!-- /.navbar-collapse -->
      </nav><!-- /navbar -->
    </div>
    <div class="container">
        
        <%= yield %>
    </div>
    <!-- /.container -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
         
       

            

            <a class="footer-brand" href="http://biancawelds.com" target="_blank">
              Created by Bianca Welds
            </a>
          </div> <!-- /col-xs-12 -->

          
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/flat-ui-pro.min.js"></script>

  </body>
</html>


