<div class="container">
    <div class="inner-container">
    <h1 id="contact" class="subhead">I'd love to hear from you</h1>
  

    <form role="form" autocomplete="on" action="/contact" method="POST" >
            <div class="row">
                <div class="col-xs-3">
                    
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter your name" autofocus>
                  </div>
                </div>
                <div class="col-xs-3">
                  
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-3">
                    
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
                  </div>
                </div>
                <div class="col-xs-3">
                  
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-3">
                    
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="comment">Comment</label>
            <textarea class="form-control" rows="3" name="comment" placeholder="Let me know what's on your mind." required></textarea>
                  </div>
                </div>
                <div class="col-xs-3">
                  
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-6">
                    
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Send your message</button>
                  </div>
                </div>
                <div class="col-xs-3">
                  
                </div>
                
            </div>
        </form>
</div>
</div>