<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Well now, guess what?</h3>
  </div>
  <div class="modal-body">
  	<p>To be honest, we're not quite ready with that part of the system yet. If you'd like to leave your email, we will get back to you when you can set up notifications.</p>
    <%= erb :emailform %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="/connect" class="btn btn-primary">Connect</a>
</div>