<form id="emailform" role="form" autocomplete="on" action="/contact" method="POST" >
        
			<div class="row">
		        <div class="col-xs-1">
		        	
		        </div>
		        <div class="col-xs-6">
		          <div class="form-group">
		          	
		            <input type="text"   placeholder="Enter your email address" class="form-control" name="email" id="email">
		            
		            <input type="hidden"  value="I want milestone notifications" class="form-control" name="comment" id="comment">
		            <!-- <label class="text-field-icon fui-user" for="twitter-handle"></label> -->
		          </div>
		        </div>
		        <div class="col-xs-3">
		          <!-- <a href="/" class="btn btn-block btn-lg btn-primary">Submit</a> -->
		          <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
		        </div>
		        <div class="col-xs-1">
		      
		        </div>
		    </div>
		</form>