<div class="container center">

    <h1 id="error" class="subhead">Something went very wrong!</h1>
    <p style="text-align:center;">I'm going to do my best to fix it soon. </p>
    <p style="text-align:center;">In the meantime, why don't you go back to the page you came from and try again? </p>

</div>
