
		<%= erb :twitterform %>

		<div class="row demo-tiles">
    <div class="col-xs-12">
      <div class="tile">
        <img src="img/miletweets-logo.png" alt="Welcome" class="tile-image big-illustration">
        <h3 class="tile-title welcome">Let's do this!</h3>
        <p> You know the drill. Put a Twitter handle in the box above and let's make some magic! </p>
        <p>If you'd like some suggestions, how about </p>

        <ul id="suggestions">
        	<li>Rails Rumble (@railsrumble)</li>
        	<li>David Heinemeier Hansson (@dhh)</li>
        	<li>Yukihiro Matsumoto (@yukihiro_matz or in english @matz_translated)
        	<li>Heroku (@heroku)</li>
        </ul>

        
       
       
      </div>
    </div>
</div>