
		<%= erb :twitterform %>

		<div class="row demo-tiles">
    <div class="col-xs-12">
      <div class="tile">
        <img src="img/icons/svg/trolley.svg" alt="Welcome" class="tile-image big-illustration">
        <h3 class="tile-title welcome">Let's do this!</h3>
        <p> You know the drill. Put a Twitter handle in the box above and let's make some magic! </p>
       
       
      </div>
    </div>
</div>