<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Well that wouldn't be fair!</h3>
  </div>
  <div class="modal-body">
    <p>Why do you want notifications on someone else's milestones. If you connect to your Twitter account, then we will be able to add notifications for your own.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="/connect" class="btn btn-primary">Connect</a>
</div>