<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Let's go to your own milestones</h3>
  </div>
  <div class="modal-body">
    <p>If you want notifications on your own milestones, then let's go check out your page. Ok?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="/milestones" class="btn btn-primary">OK</a>
</div>
