

		<% if !@handle.empty? %>
	 
	    	<h3>Results for <%= @handle %>!</h3>
	    	
	    	<div>
				Milestones go here
	    	</div>
	    	
		<% else %>
	    	<p>You must enter a Twitter handle.</p>
		<% end %>


