<div class="container center">

    <h1 id="error" class="subhead">Twitter said no!</h1>
    <p style="text-align:center;">I have no good reason why, but you were not authorized correctly by Twitter, so I couldn't connect you. It's been happening recently, perhaps something to do with my app's rate limit... or something... *shrug*</p>
    <p style="text-align:center;">In the meantime, why don't you <a href="/index">check out some others' milestones</a> or <a href="/connect">try to connect again</a>? </p>

</div>
