<%= erb :twitterform %>

<div class="row demo-tiles">
    <div class="col-xs-12">
      <div class="tile">
        <img src="img/icons/svg/trolley.svg" alt="Welcome" class="tile-image big-illustration">
        <h3 class="tile-title welcome">Welcome to Miletweets!</h3>
        <p> Miletweets are essentially milestone tweets. You know those nice cool numbers that people often comment on? The first step is to let you know which milestones are coming up, but the app will also give you an idea of about how far away the milestone is based on your recent average tweet frequency. Not only that, it will eventually send you a reminder closer to the time so you don't forget to pay attention. </p>
       
       
      </div>
    </div>
</div>
 
 <h4>How does it work?</h4>

  <div class="row demo-tiles">
    

    <div class="col-xs-4">
      <div class="tile guide">
      <h3 class="tile-title">Enter a Twitter handle</h3>
        <img src="img/icons/svg/heart.svg" alt="Heart" class="tile-image">
        
        <p>That's it. Simple. <br />Just enter a handle (that's right, any handle, it doesn't have to be yours) above and then click submit. No need to log in to see how it works, though eventually there'll be some extra goodies if you do (see step 3).</p>
       
      </div>
    </div>

    <div class="col-xs-4">
      <div class="tile guide">
      <h3 class="tile-title">Watch the magic</h3>
        <img src="img/icons/svg/coins.svg" alt="Coins" class="tile-image">
        
        <p>Well, ok, so it's not really magic. Lol! Miletweets will examine the Twitter account and determine the next exciting milestones. It will also figure out the average twet frequency recently and use that to work out how long it will probably take to get to each milestone.</p>
        
      </div>
    </div>

    <div class="col-xs-4">
      <div class="tile guide">
        <h3 class="tile-title">Then what?</h3>
        <img src="img/icons/svg/thoughts.svg" alt="Thoughts" class="tile-image">
        
        <p>Well, if you did choose to use your own account by connecting to Twitter, right now, there's no difference. Eventually, you will be able to set up notifications for milestones (email or tweet) and one day, custom milestones (you're 123,456th tweet maybe?).</p>
        
      </div>

    </div>
  </div>